[Unit]
Description=Initialize Postal via Podman
Wants=postal.service
After=postal.service mariadb-app.service

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
TimeoutStopSec=70

# Pre-start setup
ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/mkdir -p config
ExecStartPre=/bin/rm -f %t/postal-initializer-app.pid %t/postal-initializer-app.ctr-id
ExecStartPre=-/usr/bin/runagent discover-smarthost
ExecStartPre=-/usr/bin/runagent initialize-postal

# Start container in foreground (no -d)
ExecStart=/usr/bin/podman run --rm --cgroups=no-conmon \
  --pod-id-file %t/postal.pod-id \
  --name postal-initializer-app \
  --volume %S/bin/postal-initializer:/postal-initializer:Z \
  --volume ./config:/config:Z \
  --env-file database.env \
  --env-file postal.env \
  --env-file app-db.env \
  "${POSTAL_IMAGE}" \
  /bin/bash -c "/postal-initializer"

SyslogIdentifier=postal-initializer

[Install]
WantedBy=default.target
