version: 2

postal:
  web_hostname: {{ app_url }}
  web_protocol: http
  smtp_hostname: {{ app_url }}

smtp_server:
  default_bind_address: "::"

main_db:
  host: {{ main_db_host }}
  username: {{ mariadb_user }}
  password: {{ mariadb_root_password }}
  database: {{ mariadb_database }}

message_db:
  host: {{ message_db_host }}
  username: {{ mariadb_user }}
  password: {{ mariadb_root_password }}
  prefix: {{ mariadb_database }}

dns:
  mx_records:
    - {{ mx_record }}
  smtp_server_hostname: {{ smtp_server_hostname }}
  spf_include: {{ spf_include }}
  return_path: {{ return_path }}
  route_domain: {{ route_domain }}
  track_domain: {{ track_domain }}

smtp:
  host: 127.0.0.1
  port: 2525
  username: {{ username }}
  password: {{ password }}
  from_name: {{ fromname }}
  from_address: {{ fromaddress }}

rails:
  secret_key: {{ secretkey }}

